.jumbotroncontact {
    background-color: #e9ecef;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid none;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-custom {
    color: #fff;
    background-color: #00543f;
    border-color: #00543f;
    font-weight: 700;
    height: 45px;
    border: none;
    text-transform: uppercase;
    font-size: 85%;
    margin-bottom: 20px;
    width: 100%;
}

.btn-custom:hover {
    color: #fff;
    background-color: #227dc7;
    border-color: #2176bd;
}

.contacttxt {
    margin-left: -10px;
}

.contact-logo-flex {
    display: flex;
}

#contact-logo {
    width: 80%;
}
