.card-register {

    margin: 2rem 0rem;


    .card-header-register {
        padding: 1.1rem 2rem;
        font-weight: 500;
    }

    label {
        text-transform: uppercase;
        font-size: 85%;
        font-weight: 600;
    }

    input.form-control {
        border-radius: 0px;
        border: 1px solid #00543f4f;
        padding: 3px;
    }

    button {
        width: 100%;
        background-color: #00543f;
        color: #ffffff;
        font-weight: 700;
        height: 45px;
        border: none;
        text-transform: uppercase;
        font-size: 85%;
        margin-bottom: 40px;
        border-radius: 0px;
    }
}

input[type="text"] {
    width: 100%;
    border: 1px solid #004846;
    border-radius: 0px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="password"] {
    width: 100%;
    border: 1px solid #004846;
    border-radius: 0px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="text"]:focus {
    border-color: #ff6600;
    box-shadow: 0 0 8px 0 #ff6600;
}

input[type="password"]:focus {
    border-color: #ff6600;
    box-shadow: 0 0 8px 0 #ff6600;
}

.input-icon input[type="text"] {
    padding-left: 40px;
    padding-bottom: 1px;
    height: 42px;
}

.input-icon input[type="password"] {
    padding-left: 40px;
    padding-bottom: 1px;
    height: 42px;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 7px 8px;
    color: #aaa;
    transition: 0.3s;
    font-size: 110%;
    top: 6px;

}

.input-icon input[type="text"]:focus+i {
    color: #ff6600;
}

.input-icon input[type="password"]:focus+i {
    color: #ff6600;
}
