.jumbotroncustom {
    background-color: #e9ecef;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid none;
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#add {
    div.row.space-bottom {
        margin-bottom: 18px;
    }

    h6 {
        color: #008fe3;
        text-transform: uppercase;
    }
}

#add div {
    input.form-control {
        margin-bottom: 8px;
    }

    div.col {
        margin-bottom: 10px;
    }

}

#add div.row span {
    i {
        color: red;
        font-size: x-large;
    }
}

#add-recipe-form label {
    font-weight: 600;
}
