


/* ----------------------------------------------- */
/* global style */
/* ----------------------------------------------- */
.row{
  margin-top: 15px;
}

.img-thumbnail {
  width: 200px;
  height: 200px;
}

p.about-text {
    color: #125140;
    font-weight: 500;
    line-height: 1.9rem;
    font-family: "Open Sans"
}
/* ----------------------------------------------- */
/* Headings */
/* ----------------------------------------------- */
h2.title-about {
    font-weight: 400;
    font-size: 120%;
    color: #125140;
    font-family: "Open Sans";
  }


/* ----------------------------------------------- */
/* layout style */
/* ----------------------------------------------- */
