


/* ----------------------------------------------- */
/* global style */
/* ----------------------------------------------- */
.row{
  margin-top: 15px;
}

.jumbotroncustom {
    background-color: #e9ecef;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid none;
    border-radius: 12px;
}

p {
    color: #125140;
    font-weight: 500;
    line-height: 1.9rem;
}
/* ----------------------------------------------- */
/* Headings */
/* ----------------------------------------------- */
h2 {
    font-weight: 400;
    font-size: 120%;
    color: #125140;
    font-family: "Open Sans";
  }


/* ----------------------------------------------- */
/* layout style */
/* ----------------------------------------------- */
