// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* ----------------------------------------------- */
/* Golbal Style */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------------------------- */
/* Navigation */
/* ----------------------------------------------- */
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


/* ----------------------------------------------- */
/* Footer */
/* ----------------------------------------------- */
footer {
    background-color: #fff;
}



/* ----------------------------------------------- */
/* Card */
/* ----------------------------------------------- */



/* ----------------------------------------------- */
/* Buttons */
/* ----------------------------------------------- */
